build/
*.uf2
*.o
*.elf
*.bin
*.map
/cmake-build-debug/
/cmake-build-release/
/CMakeFiles/
/Makefile
/CMakeLists.txt.user
/.pio/


# VSCode
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

#Editor-filer
*.swp
*.DS_Store
.vscode/
.idea/

/pico-sdk/
/_pio/

*.swp
*.bak
*~
